/* You can add global styles to this file, and also import other style files */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: honeydew;
    background-color: rgba(9, 10, 20, 0.938);
}

a {
    text-decoration: none;
    color: honeydew;
}

a:hover {
    color: aquamarine;
    text-decoration: underline;
}

/* .container {
    background-color: aliceblue;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 50%;
      max-width: 50%;
    }
  }
*/

/* Everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}

